flows.json
[
    {
        "id": "47f3561cb6d28c82",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3993d0031e80437",
        "type": "function",
        "z": "47f3561cb6d28c82",
        "name": "Planta",
        "func": "//Parametros da função de transferência discretizada a partir do método tustin\nconst a = 1;\nconst b = -0.9992;\nconst k = 0.000714;\n\nlet e = msg.payload;\n\n// carrega os valores anteriores de entrada e saída\nlet past_u = flow.get('past_u');\nif (typeof past_u === \"undefined\")\n{\n    past_u = 0;\n}\n\nlet u;\n\nlet past_e = flow.get('past_e');\nif (typeof past_e === \"undefined\")\n{\n    past_e = 0;\n}\n\n// equação de diferenças\nu =  -(b * past_u) + k * e + k * a * past_e;\nmsg.payload = u;\n\n// salva os valores entrada e saída\nflow.set('past_e', e);\nflow.set('past_u', u);\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 260,
        "wires": [
            [
                "6d01e51b28de04ba",
                "c6efc89c7eb68fd6",
                "8d3dcde0a8ae6616"
            ]
        ]
    },
    {
        "id": "6f91acce036e328f",
        "type": "tcp in",
        "z": "47f3561cb6d28c82",
        "name": "",
        "server": "server",
        "host": "",
        "port": "65001",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "54d445974ad586ec",
                "482e4988d76126c9"
            ]
        ]
    },
    {
        "id": "3a27311d625466a9",
        "type": "tcp out",
        "z": "47f3561cb6d28c82",
        "name": "",
        "host": "",
        "port": "65002",
        "beserver": "server",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 160,
        "y": 400,
        "wires": []
    },
    {
        "id": "54d445974ad586ec",
        "type": "debug",
        "z": "47f3561cb6d28c82",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 360,
        "y": 140,
        "wires": []
    },
    {
        "id": "6d01e51b28de04ba",
        "type": "debug",
        "z": "47f3561cb6d28c82",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 960,
        "y": 260,
        "wires": []
    },
    {
        "id": "c6efc89c7eb68fd6",
        "type": "function",
        "z": "47f3561cb6d28c82",
        "name": "Sensor",
        "func": "let e = msg.payload;\n\nmsg.payload = Math.floor(e * (6000 / 300));\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 400,
        "wires": [
            [
                "3a27311d625466a9",
                "d424ff1e2179a1c8"
            ]
        ]
    },
    {
        "id": "482e4988d76126c9",
        "type": "function",
        "z": "47f3561cb6d28c82",
        "name": "Atuador",
        "func": "let e = msg.payload;\n\nmsg.payload = Math.floor(e * (300 / 6000));\n\nreturn msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 260,
        "wires": [
            [
                "a3993d0031e80437",
                "bf7d18240ecb86d6"
            ]
        ]
    },
    {
        "id": "bf7d18240ecb86d6",
        "type": "debug",
        "z": "47f3561cb6d28c82",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "8d3dcde0a8ae6616",
        "type": "ui_chart",
        "z": "47f3561cb6d28c82",
        "name": "",
        "group": "366724b856e0fc43",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "300",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d424ff1e2179a1c8",
        "type": "debug",
        "z": "47f3561cb6d28c82",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "366724b856e0fc43",
        "type": "ui_group",
        "name": "gráfico",
        "tab": "13bffeadaf2348de",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "13bffeadaf2348de",
        "type": "ui_tab",
        "name": "Planta",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]